################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Home/bin
/Home/obj/Debug
/Home.Tests/bin/Debug
/Home.Tests/obj/Debug
/packages
