@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>자유 주제 세미나형 스터디</h1>
    <p class="lead">
        약 2개월에 한번씩 세미나 형태로 2개월간 학습하고 조사한 내용을 발표하여 공유하는 스터디 /
        일상적인 업무에서 벗어나 새로운 시도와 사고를 독려하기 위해 추진 /
        6월 - 자마린을 이용한 앱개발
        <img src="https://www.visualstudio.com/ko/wp-content/uploads/2018/03/TargetAllPlatforms_636x300.png">
    </p>
    <p><a href="http://dongha.pe.kr/221266433869" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AngularJs Study</h2>
        <p>
            애덤 프리먼의 저서 "프로 AngularJS"를 기준으로 목차 1페이지당 1주 속도로 진행하는 스터디 /
            웹퍼블리싱 위주의 업무에서 Front 개발로 확장하는 UI팀의 직무 능력 향상을 위해 추진 /
            매주 사전 코딩 후, 모여서 간략히 각자 이해한 부분을 설명하고 끝내는 방식.
        </p>
        <p>
            <img src="http://image3.kangcom.com/2015/01/b_pic/201501056504.jpg" width="138" height="184">
        </p>
        <p><a class="btn btn-default" href="/Study">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Refactoring Study</h2>
        <p>
            마틴 파울러의 저서 "리팩토링"을 기준으로 약 2개의 패턴당 1주 속도로 진행하는 스터디 /
            4년 이하 개발자의 개발 기본기 단련을 위해 추진 /
            매주 사전 학습 후, 모여서 간략히 각자 이해한 부분을 설명하고 끝내는 방식.
        </p>
        <p>
            <img src="http://image3.kangcom.com//2012/11/b_pic/201211020005.jpg" width="138" >
        </p>
        <p><a class="btn btn-default" href="http://dongha.pe.kr/221038855085" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Design Patterns Study </h2>(종료)
        <p>
            에릭 감마, 리처드 헬름, 랄프 존슨, 존 블리시디스의 저서 "Gof의 디자인패턴"을 기준으로 1개의 패턴당 1주 속도로 진행한 스터디 /
            2년 이하 개발자의 개발 기본기 단련을 위해 추진 /
            매주 사전 학습 후, 모여서 간략히 각자 코딩한 패턴을 설명하고 끝내는 방식.
        </p>
        <p>
            <img src="http://image3.kangcom.com//2015/03/b_pic/201606276788.jpg" width="138">
        </p>
        <p><a class="btn btn-default" href="http://dongha.pe.kr/221038855085" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>