@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>1주차</h2>
        <p>
            To Do List 예제 만들며 양방향 바인딩과 AngularJs 구조 파악하기
        </p>
        <p><a class="btn btn-default" href="/Study/AngularJs1" target="_blank">Learn more &raquo;</a></p>
        <h2>2주차</h2>
        <p>
            promise 맛보기
        </p>
        <p><a class="btn btn-default" href="/Study/AngularJs2" target="_blank">Learn more &raquo;</a></p>
        <h2>3주차</h2>
        <p>
            스포츠 상점 구현
        </p>
        <p><a class="btn btn-default" href="/Study/AngularJs3" target="_blank">Store &raquo;</a></p>
        <p><a class="btn btn-default" href="/Study/AngularJs4" target="_blank">Admin &raquo;</a></p>
        <h2>4주차</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="/Study/AngularJs5" target="_blank">ch 9 &raquo;</a></p>
        <p><a class="btn btn-default" href="/Study/AngularJs6" target="_blank">ch 10 &raquo;</a></p>
        <p><a class="btn btn-default" href="/Study/AngularJs7" target="_blank">ch 11 &raquo;</a></p>
    </div>
   
</div>